.products{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

@media all and (max-width:964px){
    .products{
        grid-template-columns: repeat(3,1fr);
    }
}

@media all and (max-width:796px){
    .products{
        grid-template-columns: repeat(2,1fr);
    }
}

@media all and (max-width:420px){
    .products{
        grid-template-columns: 1fr;
    }
}